<a href="https://colab.research.google.com/github/ThitikornT/Project_R2DE/blob/main/Data_Collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#install packet pymysql
! pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)

In [ ]:
import os
import pandas as pd
import pymysql

class Config:
  MYSQL_HOST = ''
  MYSQL_PORT = 3306              # default สำหรับ port MySQL
  MYSQL_USER = ''
  MYSQL_PASSWORD = ''
  MYSQL_DB = ''
  MYSQL_CHARSET = ''

In [ ]:
# ทดลอง print จาก config
print(Config.MYSQL_PORT)

3306

In [ ]:
# Connect to the database
connection = pymysql.connect(host=Config.MYSQL_HOST,
                             port=Config.MYSQL_PORT,
                             user=Config.MYSQL_USER,
                             password=Config.MYSQL_PASSWORD,
                             db=Config.MYSQL_DB,
                             charset=Config.MYSQL_CHARSET,
                             cursorclass=pymysql.cursors.DictCursor)

In [ ]:
connection

In [ ]:
# list all tables ด้วย SQL คำสั่ง show tables;
cursor = connection.cursor()
cursor.execute("show tables;")
tables = cursor.fetchall()
cursor.close()
print(tables)

[{'Tables_in_r2de2': 'audible_data'}, {'Tables_in_r2de2': 'audible_transaction'}]

In [ ]:
# ใข้ with statement แทน cursor.close()

with connection.cursor() as cursor:
  # query ข้อมูลจาก table audible_data
  sql = "SELECT * FROM audible_data"
  cursor.execute(sql)
  result = cursor.fetchall()

print("number of rows: ", len(result))

number of rows:  2269

In [ ]:
# ดูประเภทของ result
type(result)

list

In [ ]:
audible_data = pd.DataFrame(result)

In [ ]:
type(audible_data)

pandas.core.frame.DataFrame

In [ ]:
audible_data.head()

   Book_ID                       Book Title  ... Total No. of Ratings    Price
0        1              Bamboozled by Jesus  ...                 47.0  $29.65
1        2               Sixth Realm Part 1  ...                 98.0  $24.95
2        3  Go Tell the Bees That I Am Gone  ...                  NaN  $41.99
3        4           How the Word Is Passed  ...                  NaN  $29.65
4        5              The Devil May Dance  ...                108.0  $29.65

[5 rows x 11 columns]

In [ ]:
audible_data = audible_data.set_index("Book_ID")

In [ ]:
audible_data.head()

                              Book Title  ...    Price
Book_ID                                   ...
1                    Bamboozled by Jesus  ...  $29.65
2                     Sixth Realm Part 1  ...  $24.95
3        Go Tell the Bees That I Am Gone  ...  $41.99
4                 How the Word Is Passed  ...  $29.65
5                    The Devil May Dance  ...  $29.65

[5 rows x 10 columns]

In [ ]:
#query โดย pandas
sql = "SELECT * FROM audible_transaction"
audible_transaction = pd.read_sql(sql, connection)
audible_transaction.head()

            timestamp   user_id  book_id                   country
0 2021-05-01 00:00:01  ad8eca41     1584                  Portugal
1 2021-05-01 00:00:03  561b26c1      829  United States of America
2 2021-05-01 00:00:04  81f149e5     1391                     Japan
3 2021-05-01 00:00:07  4f218413     1586                    Taiwan
4 2021-05-01 00:00:18  a4066781      300  United States of America

In [ ]:
# join table
transaction = audible_transaction.merge(audible_data, how="left", left_on="book_id", right_on="Book_ID")

In [ ]:
transaction.head()

            timestamp   user_id  book_id  ... Rating Total No. of Ratings    Price
0 2021-05-01 00:00:01  ad8eca41     1584  ...    4.6              25863.0  $35.00
1 2021-05-01 00:00:03  561b26c1      829  ...    4.8               2441.0  $19.59
2 2021-05-01 00:00:04  81f149e5     1391  ...    4.6              26781.0  $31.50
3 2021-05-01 00:00:07  4f218413     1586  ...    4.8              11459.0  $19.95
4 2021-05-01 00:00:18  a4066781      300  ...    4.8               9305.0  $17.49

[5 rows x 14 columns]

In [ ]:
import requests

In [ ]:
# get api
url = "https://r2de2-workshop-vmftiryt6q-ts.a.run.app/usd_thb_conversion_rate"
r = requests.get(url)
result_conversion_rate = r.json()

In [ ]:
print(type(result_conversion_rate))
assert isinstance(result_conversion_rate, dict)

<class 'dict'>

In [ ]:
conversion_rate = pd.DataFrame(result_conversion_rate)

In [ ]:
conversion_rate.head()

            conversion_rate
2021-04-01           31.194
2021-04-02           31.290
2021-04-03           31.256
2021-04-04           31.244
2021-04-05           31.342

In [ ]:
conversion_rate = conversion_rate.reset_index().rename(columns={"index": "date"})
conversion_rate[:3]

         date  conversion_rate
0  2021-04-01           31.194
1  2021-04-02           31.290
2  2021-04-03           31.256

In [ ]:
transaction.head()

            timestamp   user_id  book_id  ... Rating Total No. of Ratings    Price
0 2021-05-01 00:00:01  ad8eca41     1584  ...    4.6              25863.0  $35.00
1 2021-05-01 00:00:03  561b26c1      829  ...    4.8               2441.0  $19.59
2 2021-05-01 00:00:04  81f149e5     1391  ...    4.6              26781.0  $31.50
3 2021-05-01 00:00:07  4f218413     1586  ...    4.8              11459.0  $19.95
4 2021-05-01 00:00:18  a4066781      300  ...    4.8               9305.0  $17.49

[5 rows x 14 columns]

In [ ]:
# ก็อปปี้ column timestamp เก็บเอาไว้ใน column ใหม่ชื่อ date เพื่อที่จะแปลงวันที่เป็น date เพื่อที่จะสามารถนำมา join กับข้อมูลค่าเงินได้
transaction['date'] = transaction['timestamp']
transaction.head()

            timestamp   user_id  ...    Price                date
0 2021-05-01 00:00:01  ad8eca41  ...  $35.00  2021-05-01 00:00:01
1 2021-05-01 00:00:03  561b26c1  ...  $19.59  2021-05-01 00:00:03
2 2021-05-01 00:00:04  81f149e5  ...  $31.50  2021-05-01 00:00:04
3 2021-05-01 00:00:07  4f218413  ...  $19.95  2021-05-01 00:00:07
4 2021-05-01 00:00:18  a4066781  ...  $17.49  2021-05-01 00:00:18

[5 rows x 15 columns]

In [ ]:
# convert timestamp to date in 2 dataframe (transaction, conversion_rate)
transaction['date'] = pd.to_datetime(transaction['date']).dt.date
conversion_rate['date'] = pd.to_datetime(conversion_rate['date']).dt.date
transaction.head()

            timestamp   user_id  ...    Price        date
0 2021-05-01 00:00:01  ad8eca41  ...  $35.00   2021-05-01
1 2021-05-01 00:00:03  561b26c1  ...  $19.59   2021-05-01
2 2021-05-01 00:00:04  81f149e5  ...  $31.50   2021-05-01
3 2021-05-01 00:00:07  4f218413  ...  $19.95   2021-05-01
4 2021-05-01 00:00:18  a4066781  ...  $17.49   2021-05-01

[5 rows x 15 columns]

In [ ]:
final_df = transaction.merge(conversion_rate, how="left", left_on="date", right_on="date")

In [ ]:
# remove $
final_df["Price"] = final_df.apply(lambda x: x["Price"].replace("$",""), axis=1)
final_df.head()

            timestamp   user_id  book_id  ...   Price        date conversion_rate
0 2021-05-01 00:00:01  ad8eca41     1584  ...  35.00   2021-05-01           31.14
1 2021-05-01 00:00:03  561b26c1      829  ...  19.59   2021-05-01           31.14
2 2021-05-01 00:00:04  81f149e5     1391  ...  31.50   2021-05-01           31.14
3 2021-05-01 00:00:07  4f218413     1586  ...  19.95   2021-05-01           31.14
4 2021-05-01 00:00:18  a4066781      300  ...  17.49   2021-05-01           31.14

[5 rows x 16 columns]

In [ ]:
final_df["Price"] = final_df["Price"].astype(float)

In [ ]:
final_df.dtypes

timestamp               datetime64[ns]
user_id                         object
book_id                          int64
country                         object
Book Title                      object
Book Subtitle                   object
Book Author                     object
Book Narrator                   object
Audio Runtime                   object
Audiobook_Type                  object
Categories                      object
Rating                          object
Total No. of Ratings           float64
Price                          float64
date                            object
conversion_rate                float64
dtype: object

In [ ]:
# step1
final_df["THBPrice"] = final_df["Price"] * final_df["conversion_rate"]
final_df.head()

            timestamp   user_id  ...  conversion_rate   THBPrice
0 2021-05-01 00:00:01  ad8eca41  ...            31.14  1089.9000
1 2021-05-01 00:00:03  561b26c1  ...            31.14   610.0326
2 2021-05-01 00:00:04  81f149e5  ...            31.14   980.9100
3 2021-05-01 00:00:07  4f218413  ...            31.14   621.2430
4 2021-05-01 00:00:18  a4066781  ...            31.14   544.6386

[5 rows x 17 columns]

In [ ]:
# step2
def convert_rate(price, rate):
  return price * rate

#final_df["THBPrice"] = final_df.apply(lambda x: x["Price"]* x["conversion_rate"], axis=1)
final_df["THBPrice"] = final_df.apply(lambda x: convert_rate(x["Price"], x["conversion_rate"]), axis=1)
final_df.head()

            timestamp   user_id  ...  conversion_rate   THBPrice
0 2021-05-01 00:00:01  ad8eca41  ...            31.14  1089.9000
1 2021-05-01 00:00:03  561b26c1  ...            31.14   610.0326
2 2021-05-01 00:00:04  81f149e5  ...            31.14   980.9100
3 2021-05-01 00:00:07  4f218413  ...            31.14   621.2430
4 2021-05-01 00:00:18  a4066781  ...            31.14   544.6386

[5 rows x 17 columns]

In [ ]:
# drop column
final_df = final_df.drop("date", axis=1)

In [ ]:
final_df.head()

            timestamp   user_id  book_id  ...  Price conversion_rate   THBPrice
0 2021-05-01 00:00:01  ad8eca41     1584  ...  35.00           31.14  1089.9000
1 2021-05-01 00:00:03  561b26c1      829  ...  19.59           31.14   610.0326
2 2021-05-01 00:00:04  81f149e5     1391  ...  31.50           31.14   980.9100
3 2021-05-01 00:00:07  4f218413     1586  ...  19.95           31.14   621.2430
4 2021-05-01 00:00:18  a4066781      300  ...  17.49           31.14   544.6386

[5 rows x 16 columns]

In [ ]:
final_df.groupby("Categories").sum()["THBPrice"].nlargest(3)

Categories
Literature & Fiction         5.534005e+08
Science Fiction & Fantasy    4.172527e+08
Biographies & Memoirs        1.905936e+08
Name: THBPrice, dtype: float64

In [ ]:
final_df[final_df["Categories"] == "Literature & Fiction"].groupby("Book Title").sum()["THBPrice"].nlargest(3)

Book Title
A Game of Thrones          2.890464e+07
Where the Crawdads Sing    2.398011e+07
The Stand                  1.438659e+07
Name: THBPrice, dtype: float64

In [ ]:
# save to csv file
final_df.to_csv("output.csv", index=False)

In [ ]:
!head output.csv

timestamp,user_id,book_id,country,Book Title,Book Subtitle,Book Author,Book Narrator,Audio Runtime,Audiobook_Type,Categories,Rating,Total No. of Ratings,Price,conversion_rate,THBPrice
2021-05-01 00:00:01,ad8eca41,1584,Portugal,Sycamore Row,,John Grisham,Michael Beck,20 hrs and 46 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,25863.0,35.0,31.14,1089.9
2021-05-01 00:00:03,561b26c1,829,United States of America,The 5 Love Languages of Children,The Secret to Loving Children Effectively,Gary Chapman,Chris Fabry,5 hrs and 48 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,2441.0,19.59,31.14,610.0326
2021-05-01 00:00:04,81f149e5,1391,Japan,The Guardians,A Novel,John Grisham,Michael Beck,11 hrs and 50 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,26781.0,31.5,31.14,980.91
2021-05-01 00:00:07,4f218413,1586,Taiwan,How to Be a 3% Man,,Corey Wayne,Corey Wayne,7 hrs and 33 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,11459.0,19.95,31.14,621.2429999999999
2021-05-01 00:00:18,a4066781,300,United States of America,Napoleon Hill's Outwitting the Devil,The Secret to Freedom and Success,Napoleon Hill,Dan John Miller,5 hrs and 51 mins,Unabridged Audiobook,Business & Careers,4.8,9305.0,17.49,31.14,544.6386
2021-05-01 00:00:21,bbbd603a,1377,United States of America,The Institute,A Novel,Stephen King,Santino Fontana,18 hrs and 59 mins,Unabridged Audiobook,Literature & Fiction,4.6,35443.0,34.99,31.14,1089.5886
2021-05-01 00:00:22,f636754b,342,Canada,A Clash of Kings,"A Song of Ice and Fire, Book 2",George R.R. Martin,Roy Dotrice,37 hrs and 12 mins,Unabridged Audiobook,Science Fiction & Fantasy,4.8,79031.0,63.0,31.14,1961.82
2021-05-01 00:00:26,0eea4bbd,1600,United States of America,Exile,"Legend of Drizzt: Dark Elf Trilogy, Book 2",R. A. Salvatore,Victor Bevine,10 hrs and 42 mins,Unabridged Audiobook,Science Fiction & Fantasy,4.7,9241.0,24.95,31.14,776.943
2021-05-01 00:00:26,30b900d5,1556,Algeria,Arcanum Unbounded: The Cosmere Collection,,Brandon Sanderson,Michael Kramer,22 hrs and 31 mins,Unabridged Audiobook,Literature & Fiction,4.8,14108.0,48.99,31.14,1525.5486

# Bonus: การเก็บตัวแปร หรือ password ไว้ใน env ไฟล์

## การสร้างไฟล์ .env จากใน colab
สามารถใช้ `%%writefile ชื่อไฟล์` ตามด้วยเนื้อหาในไฟล์  

หมายเหตุ: ในชีวิตจริง .env จะไม่ได้ถูกเขียนขึ้นจากในโค้ด แต่จะแชร์กันแค่ภายในทีม

In [ ]:
%%writefile .env
MYSQL_HOST='ใส่ host ที่นี่'
MYSQL_PORT= 3306
MYSQL_USER = 'ใส่ user ที่นี่'
MYSQL_PASSWORD = 'ความลับ'
MYSQL_DB = 'ใส่ชื่อ db ที่นี่'
MYSQL_CHARSET = 'utf8mb4'

Overwriting .env

อ่านเชื่อไฟล์ด้วย bash command `cat ชื่อไฟล์`

In [ ]:
!cat .env

MYSQL_HOST='ใส่ host ที่นี่'
MYSQL_PORT= 3306
MYSQL_USER = 'ใส่ user ที่นี่'
MYSQL_PASSWORD = 'ความลับ'
MYSQL_DB = 'ใส่ชื่อ db ที่นี่'
MYSQL_CHARSET = 'utf8mb4'

## การอ่านตัวแปร .env จากไฟล์ง่าย ๆ ด้วย python-dotenv
เริ่มจาก install แพ็คเกจ python-dotenv ก่อน

In [ ]:
!pip install python-dotenv

Requirement already satisfied: python-dotenv in /usr/local/lib/python3.7/dist-packages (0.19.2)

เรียกใช้งานและอ่านตัวแปรจาก .env เข้ามา

In [ ]:
import os
from dotenv import load_dotenv

load_dotenv()

True

คำสั่ง `load_dotenv()` เป็นการอ่านไฟล์ .env เข้ามาในตัวแปร environment variable แล้วใช้ `os.getenv()` เพื่ออ่านค่าของ variable แต่ละตัวอีกที

In [ ]:
class Config:
  MYSQL_HOST = os.getenv("MYSQL_HOST")
  MYSQL_PORT = int(os.getenv("MYSQL_PORT"))
  MYSQL_USER = os.getenv("MYSQL_USER")
  MYSQL_PASSWORD = os.getenv("MYSQL_PASSWORD")
  MYSQL_DB = os.getenv("MYSQL_DB")
  MYSQL_CHARSET = os.getenv("MYSQL_CHARSET")

**ข้อควรระวัง** : ทุกครั้งที่มีการอ่าน `os.getenv` ตัวแปรที่มาจาก environment variable จะถูกอ่านมาเป็น string เสมอ ถ้าเป็นประเภทอื่นต้องนำมาแปลงค่าก่อนทุกครั้ง เช่น ใช้ `int()`

In [ ]:
os.getenv("MYSQL_PORT")

'3306'

In [ ]:
int(os.getenv("MYSQL_PORT"))

3306